body {
  background-image: url("wallpaper.jpg");
  background-size: cover;
}

.users {
  position: absolute;
  bottom: 10%;
  margin: 0;
  margin-left: 30px;
  padding: 0;

  list-style: none;
}

.users li {
  padding: 20px;
  margin-bottom: 15px;

  border-radius: 20px;

  background-color: rgba(255, 255, 255, 0);

  font-size: 20px;
  color: rgb(220, 220, 220);
  opacity: 0.45;

  transition: opacity 1s, background-color 0.6s;
}

.users li:hover, .users li.selected {
  background-color: rgba(255, 255, 255, 0.3);

  opacity: 1;
}

.users li.error {
  -webkit-animation-name: authentication-error;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes authentication-error {
  from {
    background-color: rgba(255, 255, 255, 0.2);
  }

  50% {
    background-color: rgba(255, 0, 0, 0.2);
  }

  to {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.users li form {
  display: inline-block;
  margin-bottom: 0;
}

.users li label {
  display: inline-block;
  width: 150px;

  text-shadow: rgb(40, 40, 40) 0 0 3px;

  transition: text-shadow 0.5s;
}

.users li:hover label, .users li.selected label {
  text-shadow: none;
}

.users li input {
  float: right;
  padding: 0;
  width: 250px;

  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  border-color: rgba(0, 0, 0, 0);
  outline: none;

  font-size: 20px;
  color: rgb(220, 220, 220);
  text-align: center;

  opacity: 0;

  transition: opacity 1;
}

.users li:hover input, .users li.selected input {
  opacity: 1;
}

/* If the user clicks somewhere, we actually lose focus for a few milliseconds
 * before the input is refocused. So we hide the placeholder in the selected
 * input, so that it does not flash up.
 */
.users li.selected input::-webkit-input-placeholder {
  color: transparent;
}

.users li i {
  display: inline-block;
  margin-left: 20px;

  visibility: hidden;
}

.users li.locked i {
  visibility: visible;
}

.power-management-buttons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.power-management-buttons button {
  margin-right: 10px;
  background: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  outline: none;
  opacity: 0.3;
  color: rgb(220, 220, 220);

  transition: opacity 1s;
}

.power-management-buttons button:hover {
  opacity: 0.8;
}